.nav {
    grid-area: nav;
    background-color: inherit;
    ul {
      padding: 0;
    }
}

.item {
  color: #4a76a8;
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  a {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    transition: all .2s ease;

    &:hover {
      background-color: #d3e2f3;
    }
  }
  

  a.active {
    color: gold;
  }
}


